<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>
      Hakkımızda
    </title>
  </head>
  <body class="overflow-x-hidden w-screen h-screen">
    {{>header}}
    <div class="w-screen h-1/3 bg-blue-700 inline-block">
        <p class="text-xs text-gray-200 mt-48 mx-24">Hakkımızda</p>
        <p class="text-3xl text-white mx-24">Deneyimli mühendis kadromuzla hizmetinizdeyiz.</p>
    </div>
    <div class="w-screen h-screen">
        <img src="img/hakkimizda_img_1.png" alt="" class="w-full h-full">
    </div>
    <div class="w-screen h-3/5 bg-white py-24 px-40">
        <p class="text-3xl">Misyon ve Vizyon</p>
        <p class="mt-8 text-xl">
            <span class="text-lg text-gray-200 leading-6">01</span>
            </br>
            Yeraltı araştırmalarında, bilimin önderliğinde, mesleki</br>
            eğitim ve tecrübelerden yararlanarak, müşterilerimiz ile</br>
            birlikte anlaştığımız iş programına uyarak, ekonomik</br>
            çözümler üretmektir.
        </p>
        <p class="mt-8 text-xl">
            <span class="text-lg text-gray-200 leading-6">02</span>
            </br>
            Bilimsel araştırma ve pazar koşullarına uyumu esas alarak</br>
            ülke genelinde hizmet veren en kaliteli ve yenilikçi</br>
            mühendislik firmalardan biri olmaktır.
        </p>
    </div>
    {{>footer}}
    <script src="/js/menu.js"></script>
  </body>
</html>