<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>İletişim</title>
    
</head>
  <body class="overflow-x-hidden w-screen h-screen bg-contact-bg bg-cover bg-bottom">
    {{>header}}
      <div class="w-screen h-screen bg-blue-600 opacity-80 flex">
          <div class="w-1/2 h-2/5 bg-white m-auto opacity-100">
            <h1 class="-mt-16 text-2xl text-white font-bold opacity-100">
                İletişim
            </h1>
            <div class="flex mt-8 h-full opacity-100">
                <div class="w-1/2 py-8 px-6">
                  <div class="flex">
                    <input
                      type="text"
                      class="mt-0 mx-4 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"
                      placeholder="Adınız"
                    />
                    <input
                      type="text"
                      class="mt-0 mx-4 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"
                      placeholder="Firma"
                    />
                  </div>
                  <div class="flex">
                    <input
                      type="email"
                      class="mt-6 mx-4 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"
                      placeholder="E-Mail"
                    />
                    <input
                      type="tel"
                      class="mt-6 mx-4 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"
                      placeholder="Telefon"
                    />
                  </div>
                  <div>
                    <textarea
                    class="mt-6 block w-full h-2/5 px-3 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"
                    rows="2"
                    placeholder="Mesaj"
                  ></textarea>
                  </div>
                  <div>
                    <button type="submit" class="mt-6 mx-6 border rounded-3xl bg-gray-200 px-8 py-2">Gönder</button>
                  </div>
                </div>
                <div class="w-1/2 bg-blue-200 opacity-100 py-10 px-6">
                  <div>
                    <span class="tracking-widest">ADRES</span>
                    <p class="mt-4 leading-tight">Sivritaş Mahallesi</br>Dumlupınar Caddesi</br>No:71/47 Ürgün/Nevşehir</p>
                  </div>
                  <div class="mt-16">
                    <span class="tracking-widest">İLETİŞİM</span>
                    <p class="mt-4 leading-tight">0(384) 213 68 78</br>yorungeyerbilimleri@gmail.com</p>
                  </div>
                </div>
            </div>
          </div>
      </div>
    <script src="/js/menu.js"></script>
</body>
</html>