<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>
        .gallery-proje {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 80vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 90vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}
    </style>
    <title>
      Projeler
    </title>
  </head>
  <body class="overflow-x-hidden w-screen h-screen">
      {{>header}}
      <ul class="gallery-proje">
  <li style="background: #f6bd60;"></li>
  <li style="background: #f7ede2;"></li>
  <li style="background: #f5cac3;"></li>
  <li style="background: #84a59d;"></li>
  <li style="background: #f28482;"></li>
</ul>
<div class="flex w-screen h-5/6 px-40 justify-around">
    <div class="inline-block self-center ">
      <h1 class="text-2xl my-6 mx-6">Referanslar</h1>
      <p class="text-sm my-18 mx-6">Referanslarımızdan bazıları aşağıdadır.</p>
      <div class="flex my-12">
        <img src="img/ulastirma_logo.png" alt="" class="h-16 w-16 mx-12 ">
        <img src="img/cevre_logo.png" alt="" class="h-16 w-16 mx-12 ">
        <img src="img/kgm_logo.png" alt="" class="h-16 w-16 mx-12 ">
        <img src="img/dsi_logo.png" alt="" class="h-16 w-16 mx-12 ">
      </div>
      <div class="flex my-18">
  <img src="img/ulastirma_logo.png" alt="" class="h-16 w-16 mx-12" />
  <img src="img/cevre_logo.png" alt="" class="h-16 w-16 mx-12" />
  <img src="img/kgm_logo.png" alt="" class="h-16 w-16 mx-12" />
  <img src="img/dsi_logo.png" alt="" class="h-16 w-16 mx-12" />
</div>
<div class="flex my-12">
  <img src="img/ulastirma_logo.png" alt="" class="h-16 w-16 mx-12" />
  <img src="img/cevre_logo.png" alt="" class="h-16 w-16 mx-12" />
  <img src="img/kgm_logo.png" alt="" class="h-16 w-16 mx-12" />
  <img src="img/dsi_logo.png" alt="" class="h-16 w-16 mx-12" />
</div>
    </div>
    <div class="inline-block self-center ">
      <img src="img/proje_side_1.png" alt="" class="h-5/6">
    </div>
</div>
      {{>footer}}
      <script src="/js/menu.js"></script>
      <script src="/js/proje.js"></script>
  </body>
</html>