<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <style type="text/css">
      .swiper-pagination{
        text-align: right; 
        padding-right: 40px;
      }
      .swiper-pagination-bullet{
        width: 30px;
        height: 4px;
        border-radius: 5%;
        background-color: aqua;
      }
      .swiper-pagination-bullet-active{
        background-color: white;
      }
      .swiper-slide-active{
        opacity: 100%;
      }
      .swiper-slide-next{
        opacity: 70%;
      }
      .swiper-wrapper{
      }
    </style>
    <title>
      Projeler
    </title>
  </head>
  <body class="overflow-x-hidden w-screen h-screen">
    {{>header}}
    <div class="swiper w-full h-full bg-blue-800 ">
  <!-- Additional required wrapper -->
      <div class="swiper-wrapper h-3/4 w-4/6 mt-40">
        <!-- Slides -->
        <div class="swiper-slide w-full bg-carousel-1 bg-cover bg-center">
        </div>
        <div class="swiper-slide w-full bg-carousel-2 bg-cover bg-center">
        </div>
        <div class="swiper-slide w-full bg-carousel-1 bg-cover bg-center">
        </div>
        <div class="swiper-slide w-full bg-carousel-2 bg-cover bg-center">
        </div>
      </div>
      <div class="swiper-pagination" style="bottom: 40px;"></div>
    </div>
    <div class="flex w-screen h-5/6 px-40 justify-around">
        <div class="inline-block self-center ">
          <h1 class="text-2xl my-6 mx-6">Referanslar</h1>
          <p class="text-sm my-18 mx-6">Referanslarımızdan bazıları aşağıdadır.</p>
          <div class="flex my-12">
            <img src="img/ulastirma_logo.png" alt="" class="h-16 w-16 mx-12 ">
            <img src="img/cevre_logo.png" alt="" class="h-16 w-16 mx-12 ">
            <img src="img/kgm_logo.png" alt="" class="h-16 w-16 mx-12 ">
            <img src="img/dsi_logo.png" alt="" class="h-16 w-16 mx-12 ">
          </div>
          <div class="flex my-18">
      <img src="img/ulastirma_logo.png" alt="" class="h-16 w-16 mx-12" />
      <img src="img/cevre_logo.png" alt="" class="h-16 w-16 mx-12" />
      <img src="img/kgm_logo.png" alt="" class="h-16 w-16 mx-12" />
      <img src="img/dsi_logo.png" alt="" class="h-16 w-16 mx-12" />
    </div>
    <div class="flex my-12">
      <img src="img/ulastirma_logo.png" alt="" class="h-16 w-16 mx-12" />
      <img src="img/cevre_logo.png" alt="" class="h-16 w-16 mx-12" />
      <img src="img/kgm_logo.png" alt="" class="h-16 w-16 mx-12" />
      <img src="img/dsi_logo.png" alt="" class="h-16 w-16 mx-12" />
    </div>
        </div>
        <div class="inline-block self-center ">
          <img src="img/proje_side_1.png" alt="" class="h-5/6">
        </div>
    </div>
    {{>footer}}
    <script src="/js/menu.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="js/proje.js"></script>

  </body>
</html>