<div class="w-full h-full absolute">
  <div class="relative w-full h-4/6 bg-contact-bg bg-cover bg-bottom">
    <div class="relative bg-white h-56 w-3/12 top-36 left-32">
      <h1
        class="relative text-3xl pt-10 pl-14 transition-transform duration-500 ease-in overflow-hidden"
      >
        Bize ulaşmak ister misiniz?
      </h1>
      <div class="grid grid-cols-3 pt-5">
        <div class="col-start 1 col-span-2 mt-3 text-xs text-left pl-14">
          <p>
            (0384) 213 68 79
          </p>
          <p>
            yorungeyerbilimleri@gmail.com
          </p>
          <hr class="w-1/6 my-2 h-1" />
          <p>
            Sivritaş Mahallesi Dumlupınar Caddesi
          </p>
          <p>
            No:71/47 Ürgün Nevşehir
          </p>
        </div>
        <div class="col-start-3 text-sm pr-5 text-left">
          <p class="mt-8">
            İletişime Geç
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="relative bg-blue-700 h-2/6 grid grid-cols-12 gap-5">
    <div class="col-start-1 col-span-2 my-8 text-left ml-24 pt-10">
      <ul>
        <p>
          Menu
        </p>
        <p class="h-4"></p>
        <li>
          <a href="#">
            Anasayfa
          </a>
        </li>
        <li>
          <a href="#">
            Projeler
          </a>
        </li>
        <li>
          <a href="#">
            Hakkımızda
          </a>
        </li>
        <li>
          <a href="#">
            İletişim
          </a>
        </li>
      </ul>
    </div>
    <div class="col-start-3 col-span-2 my-8 text-left ml-8 pt-10">
      <p>
        Adres
      </p>
      <p class="h-4"></p>
      <p>
        Sivritaş Mahallesi
      </p>
      <p>
        Dumlupınar Caddesi
      </p>
      <p>
        No:71/47 Ürgün Nevşehir
      </p>
    </div>
    <div class="col-start-5 col-span-2 my-8 text-left ml-8 pt-10">
      <p>
        İletişim
      </p>
      <p class="h-4"></p>
      <p>
        (0384)213 68 79
      </p>
      <p>
        yorungeyerbilimleri@gmail.com
      </p>
    </div>
    <div class="col-start-8 col-span-4 my-8 text-right mr-0 pt-10">
      <p>
        Legal
      </p>
      <p class="h-4"></p>
      <p>
        Tüm hakları sakladır.
      </p>
      <p>
        Yörünge Yer Bilimleri
      </p>
    </div>
  </div>
</div>